/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-screen setup for 3D view */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  overflow: hidden;
}

.slogan {
  position: fixed; 
  top: 80px; /* Verplaats de tekst naar boven */
  left: 25%; 
  transform: translateX(-50%); /* Zorg ervoor dat het gecentreerd is */
  font-size: 50px; 
  font-weight: bold; 
  color: #dde8d9; 
  text-align: center;
  padding: 20px;
  border: solid 2px;
  background-color: #202020;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  z-index: 20000; 
  border-color: #6df243;
  font-size: 32px;
  
}
img{
  width: 80%;
}


/* Stijl voor het formulier dat in het midden van het scherm verschijnt */
.order-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparante achtergrond om het te dimmen */
  z-index: 9999; /* Zorg ervoor dat het formulier boven alles ligt */
  justify-content: center;
  align-items: center;
}

.order-form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

.order-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.order-form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-form button:hover {
  background-color: #218838;
}
/* Sluitknop voor het formulier */
.close-form {
  position: absolute;
  top: 270px;
  right: 240px;
  font-size: 30px;
  color: #0b0000;
  cursor: pointer;
  z-index: 1001 !important;
}

.close-form:hover {
  color: #f44336; /* Rood wanneer je met de muis erover heen gaat */
}


/* Stijl voor de 'Order' knop */
.order {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.order:hover {
  background-color: #218838;
}


/* Stijl voor color-menu */
.color-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background: #222;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #6df243;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto; 
  
}

/* Stijl voor de kolommen */
.column {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h3 {
  text-align: center; 
  color: #fff;
  font-size: 1.2rem;
  width: 40%; 
}

.size-menu{
  margin-left: 10px;
  padding: 10px;
  font-size: 15px;
}

.color-menu a,
 .texture-option {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.color-menu a:hover,
.color-menu .texture-option:hover {
  border-color: #6df243;
}

.color-menu .menu-section{
  flex: 1;
  text-align: center;
}

.color-menu h3 {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #6df243;
}


.color-menu .texture-option {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  margin: 5px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.color-menu .texture-option:hover {
  border-color: #6df243;
}

.color-menu button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 0.9rem;
  color: black;
  background: #6df243;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#custom-color-picker{
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}


.color-menu button:hover {
  background: #255215;
  color: white;
}

/* Stijl voor kleuren */
[data-color="darkred"] {
  background-color: darkred;
}

[data-color="yellow"] {
  background-color: yellow;
}

[data-color="darkcyan"] {
  background-color: darkcyan;
}

[data-color="black"] {
  background-color: black;
}

  /* Navigatiebalk */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px #6df243;
}
.navbar .logo a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 5px 10px;
  transition: background 0.3s ease;
}

.nav-links a:hover {
  color: #6df243;
  border-radius: 5px;
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart i {
  margin-right: 5px;
}

.order{
  background-color: #28a745;
  color: white;
  border: none;
  padding: 2px 2px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
}

.order:hover {
  background-color: #218838;
}


/* Mobiele weergave /////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .color-menu {
    flex-direction: column;
  }
/* Make the hamburger icon visible in mobile view */
.hamburger {
  display: block;
  font-size: 30px;
  cursor: pointer;
  color: #cecfd1;
}

/* Hide the nav-links by default on mobile */
.nav-links {
  list-style: none;
  display: none; /* Hide menu initially */
  position: absolute;
  top: 65px; 
  left: 320px;
  width: 40%;
  background-color: #222;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 4px 8px #6df243;
}

/* Display the menu when active */
.nav-links.active {
  display: flex;
  flex-direction: column; 
  gap: 15px;
  align-items: center;
}

.hamburger {
  display: block;
}

.close-menu {
  display: none;
}

.nav-links.active {
  right: 0; 
}
.nav-links.active ~ .close-menu {
  display: block;
}


.close-menu {
  display: none; 
  font-size: 40px;
  cursor: pointer;
  color: #cecfd1;
  position: absolute;
  top: 10px;
  right: 20px;

}

.nav-links.active ~ .close-menu {
  display: block;
}

.navbar {
  padding: 10px 15px;
}

.slogan {
  margin-left: 50px;  
  margin-right: 0; 
  font-size: 35px; 
}

}
@media (min-width: 768px) {
  .hamburger, .close-menu {
    display: none !important;
  }
  .column-container {
    grid-template-columns: 1fr; /* Bij kleinere schermen worden de kolommen gestapeld */
  }
  .column-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
    
  }
  
  /* Stijl voor de kolommen */
  .column {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h3 {
    text-align: center; 
    color: #fff;
    font-size: 1.2rem;
    width: 40%; 
  }
}
@media (min-width: 1040px) {
  .hamburger, .close-menu {
    display: none !important;
  }
  .column-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
    
  }
  
  /* Stijl voor de kolommen */
  .column {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h3 {
    text-align: center; 
    color: #fff;
    font-size: 1.2rem;
    width: 40%; 
  }
}
