/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-screen setup for 3D view */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  overflow: hidden;
}

/* stijl voor color menu */
.color-menu{
  display: none; 
  position: fixed; 
  top: 10%; 
  left: 50%; 
  transform: translateX(-50%); 
  background: grey; 
  padding: 20px; 
  border: 1px solid green;
}

.color-menu a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid grey;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.color-menu a:hover{
  border: 2px solid green;
}

.color-menu .texture-option{
  width: 50px;
  height: 50px;
  border: 2px solid grey;
  margin: 5px;
  cursor: pointer;
}

.color-menu .texture-option:hover{
  border: 2px solid green;
}

/* stijl voor kleuren */

[data-color="red"]{
  background-color: red;
}

[data-color="yellow"]{
  background-color: yellow;
}

[data-color="green"]{
  background-color: green;
}

[data-color="black"]{
  background-color: black;
}

/* Stijl voor de navigatiebalk */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px RGB(100, 242, 67);
}

/* Logo */
.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Navigatielinks */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  font-size: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: RGB(100, 242, 67);
}

/* Winkelwagenstijl */
.cart {
  position: relative;
}

.cart i {
  margin-right: 5px;
}

/* Mobiele weergave */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Navigatielinks verbergen op mobiel */
  }

  .navbar {
    justify-content: space-between;
  }
}